* {
    background-color: #2c2c2c;
}

.titulo {
    font-family: sans-serif;
    font-size: 3vw;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}

.paragrafo {
    font-family: sans-serif;
    font-size: 1.5vw;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    width: 80%;
    
}

.box {
    display: block;
}

.flex .outlined-basic {
    border: 2px solid #ccc;
    border-radius: 5px;
}

.flex .outlined-basic label {
    color: white;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
